figure {
    position: relative;
    margin: 1.5em 0;
    border-top: 1px dotted #0098d8;
    border-bottom: 1px dotted #0098d8;
    display: block;
}

figcaption {
    clear: left;
    margin: .75em 0;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    display: block;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}